<div class="row mt-5">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h1>Reset your Password</h1>
        <%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form| %>
          <%# if form.object.errors.any? %>
<!--            <div class="alert alert-danger">-->
              <%# form.object.errors.full_messages.each do |messages| %>
<!--                <div class=""><span class="code">*</span> <%#= messages %></div>-->
              <%# end %>
<!--            </div>-->
          <%# end %>
          <div class="mb-3">
            <%= form.label :password, class: "form-label" %>
            <%= form.password_field :password, class: 'form-control', required: true %>
          </div>
          <div class="mb-3">
            <%= form.label :password_confirmation, class: "form-label" %>
            <%= form.password_field :password_confirmation, class: 'form-control', required: true %>
          </div>
          <%= form.submit "Reset Pasword", class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>

  </div>
</div>
